@model ID.Models.Package

@{
    ViewData["Title"] = "Package - " + Model.PackageNameId;
}

<h2></h2>
<div>
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageID)
        </dt>*@
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageID)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageNameId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageNameId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageDetail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackagePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackagePrice)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
    </dl>
</div>
<p class="button">

    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
       asp-route-PackageID="@Model.PackageId">Add to cart</a>
</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model.PackageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>