@model PaginatedList<ID.Models.Package>

@{
    ViewData["Title"] = "Packages";
}
<h3>Packages</h3>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index"> Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <tr>

        <th>
            @*<a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                @Html.DisplayNameFor(model => model.Packages[0].PackageNameId)
            </a>*@
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Package</a>
        </th>
        @*<th> @Html.DisplayNameFor(model => model.Packages[0].PackageDetail)</th>*@
        <th>
                Description
            </th>
        <th>
            @*<a asp-page="./Index" asp-route-sortOrder="@Model.TypeSort">
                @Html.DisplayNameFor(model => model.Packages[0].PackageType)
            </a>*@
            <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Type</a>
        </th>
        <th>
            @*<a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort">
                @Html.DisplayNameFor(model => model.Packages[0].PackagePrice)
            </a>*@
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
        </th>

    </tr>
    @foreach (var packages in Model)

    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => packages.PackageNameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => packages.PackageDetail)
            </td>
            <td>

                @Html.DisplayFor(modelItem => packages.PackageType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => packages.PackagePrice)

            </td>
            <td>
                <img src="~/images/@packages.Pic" class="rounded-circle" width="80" height="80" asp-append-version="true" />
            </td>

            <td>
                <p class="button">
                    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                       asp-route-PackageID="@packages.PackageId">Add to cart</a>
                </p>
                <a asp-action="Edit" asp-route-id="@packages.PackageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@packages.PackageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@packages.PackageId">Delete</a>
            </td>


        </tr>

    }
</table>
<br />

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<div class="text-right">
    <a asp-action="Create">Add new package</a>
</div>