@model IEnumerable<ID.Models.Volunteers>
@{
    ViewBag.Title = "Volunteers";
}
<h3>Volunteers</h3>

@using (Html.BeginForm())
{
<p>
    Search Volunteers: @Html.TextBox("SearchString")
    <input type="submit" value="Search" /> |
    <a asp-action="Index"> Back to Full List</a>
</p>
}
<div>
    <a asp-action="Create">Add new volunteer</a>
</div>
<table class="table">
    <tr>

        @*<th>
            @Html.DisplayNameFor(model => model.VolunteerId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.VolFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolLName)
        </th>



    </tr>
    @foreach (var vol in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => vol.VolunteerId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => vol.VolFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => vol.VolLName)
            </td>


            <td>

                <a asp-action="Edit" asp-route-id="@vol.VolunteerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@vol.VolunteerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@vol.VolunteerId">Delete</a>
            </td>


        </tr>
    }
</table>
