@model IEnumerable<ID.Models.Order>
@{
    ViewBag.Title = "Orders";
}
<h2>Orders</h2>

@using (Html.BeginForm())
{
<p>
    Search Orders: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
    Search by Location: @Html.TextBox("SearchLocation")
    <input type="submit" value="Search" />
    <a asp-action="Index"> Back to Full List</a>
</p>
}
<table class="table">
    <tr>

        @*<th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <td>

            @Html.DisplayNameFor(model => model.OrderStatus)
        </td>



    </tr>
    @foreach (var ord in Model)
    {
<tr>
    @*<td>
        @Html.DisplayFor(modelItem => ord.OrderId)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => ord.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ord.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ord.AddressLine1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ord.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ord.OrderDate)
    </td>
    <td>

        @Html.DisplayFor(modelItem => ord.OrderStatus)
    </td>


    <td>

        <a asp-action="Edit" asp-route-id="@ord.OrderId">Edit</a> |
        <a asp-action="Details" asp-route-id="@ord.OrderId">Details</a> |
        <a asp-action="Delete" asp-route-id="@ord.OrderId">Delete</a>
    </td>


</tr>
    }
</table>
