@model ShoppingCartViewModel

<h2>Your shopping cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Package</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {

            <tr>
                <td class="text-center">@line.Count</td>
                <td class="text-left">@line.Packages.PackageNameId</td>
                <td class="text-right">@line.Packages.PackagePrice</td>
                <td class="text-right">
                    @((line.Count * line.Packages.PackagePrice))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.CartTotal.ToString()
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-left">
    <a class="btn btn-primary" asp-controller="Package" asp-action="Index">Continue Shopping</a>
</div>

<div class="text-right">
    <a class="btn btn-primary" asp-controller="Checkout" asp-action="CheckOut">CheckOut</a>
</div>